In [1]:
import graphlab

# Read in the train and test data

In [3]:
train = graphlab.SFrame("train.csv")
test = graphlab.SFrame("test.csv")

PROGRESS: Finished parsing file /home/bilongc/projects/DataScienceInScale/kaggle/train.csv
PROGRESS: Parsing completed. Parsed 100 lines in 0.183926 secs.
------------------------------------------------------
Inferred types from first line of file as
column_type_hints=[int,int,int,str,str,float,int,int,str,float,str,str]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------
PROGRESS: Finished parsing file /home/bilongc/projects/DataScienceInScale/kaggle/train.csv
PROGRESS: Parsing completed. Parsed 891 lines in 0.162941 secs.
PROGRESS: Finished parsing file /home/bilongc/projects/DataScienceInScale/kaggle/test.csv
PROGRESS: Parsing completed. Parsed 100 lines in 0.07071 secs.
------------------------------------------------------
Inferred types from first line of file as
column_type_hints=[int,int,str,str,float,int,int,str,float,str,str]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------
PROGRESS: Finished parsing file /home/bilongc/projects/DataScienceInScale/kaggle/test.csv
PROGRESS: Parsing completed. Parsed 418 lines in 0.091395 secs.

# Data cleaning

## Fill the age with mean value

In [4]:
train = train.fillna('Age', train['Age'].mean())

In [8]:
train.add_column(train['Sex'] == 'female', 'SexInt')

RuntimeError: Runtime Exception. Column SexInt already exists.

In [9]:
train.head()

Columns:
	PassengerId	int
	Survived	int
	Pclass	int
	Name	str
	Sex	str
	Age	float
	SibSp	int
	Parch	int
	Ticket	str
	Fare	float
	Cabin	str
	Embarked	str
	SexInt	int

Rows: 10

Data:
+-------------+----------+--------+--------------------------------+--------+
| PassengerId | Survived | Pclass |              Name              |  Sex   |
+-------------+----------+--------+--------------------------------+--------+
|      1      |    0     |   3    |    Braund, Mr. Owen Harris     |  male  |
|      2      |    1     |   1    | Cumings, Mrs. John Bradley...  | female |
|      3      |    1     |   3    |     Heikkinen, Miss. Laina     | female |
|      4      |    1     |   1    | Futrelle, Mrs. Jacques Hea...  | female |
|      5      |    0     |   3    |    Allen, Mr. William Henry    |  male  |
|      6      |    0     |   3    |        Moran, Mr. James        |  male  |
|      7      |    0     |   1    |    McCarthy, Mr. Timothy J     |  male  |
|      8      |    0     |   3    | Palsson, Master. Gosta Leonard |  male  |
|      9      |    1     |   3    | Johnson, Mrs. Oscar W (Eli...  | female |
|      10     |    1     |   2    | Nasser, Mrs. Nicholas (Ade...  | female |
+-------------+----------+--------+--------------------------------+--------+
+---------------+-------+-------+------------------+---------+-------+----------+
|      Age      | SibSp | Parch |      Ticket      |   Fare  | Cabin | Embarked |
+---------------+-------+-------+------------------+---------+-------+----------+
|      22.0     |   1   |   0   |    A/5 21171     |   7.25  |       |    S     |
|      38.0     |   1   |   0   |     PC 17599     | 71.2833 |  C85  |    C     |
|      26.0     |   0   |   0   | STON/O2. 3101282 |  7.925  |       |    S     |
|      35.0     |   1   |   0   |      113803      |   53.1  |  C123 |    S     |
|      35.0     |   0   |   0   |      373450      |   8.05  |       |    S     |
| 29.6991176471 |   0   |   0   |      330877      |  8.4583 |       |    Q     |
|      54.0     |   0   |   0   |      17463       | 51.8625 |  E46  |    S     |
|      2.0      |   3   |   1   |      349909      |  21.075 |       |    S     |
|      27.0     |   0   |   2   |      347742      | 11.1333 |       |    S     |
|      14.0     |   1   |   0   |      237736      | 30.0708 |       |    C     |
+---------------+-------+-------+------------------+---------+-------+----------+
+--------+
| SexInt |
+--------+
|   0    |
|   1    |
|   1    |
|   1    |
|   0    |
|   0    |
|   0    |
|   0    |
|   1    |
|   1    |
+--------+
[10 rows x 13 columns]

In [10]:
test = test.fillna('Age', train['Age'].mean())
test.add_column(test['Sex'] == 'female', 'SexInt')

Columns:
	PassengerId	int
	Pclass	int
	Name	str
	Sex	str
	Age	float
	SibSp	int
	Parch	int
	Ticket	str
	Fare	float
	Cabin	str
	Embarked	str
	SexInt	int

Rows: 418

Data:
+-------------+--------+-------------------------------+--------+------+-------+
| PassengerId | Pclass |              Name             |  Sex   | Age  | SibSp |
+-------------+--------+-------------------------------+--------+------+-------+
|     892     |   3    |        Kelly, Mr. James       |  male  | 34.5 |   0   |
|     893     |   3    | Wilkes, Mrs. James (Ellen ... | female | 47.0 |   1   |
|     894     |   2    |   Myles, Mr. Thomas Francis   |  male  | 62.0 |   0   |
|     895     |   3    |        Wirz, Mr. Albert       |  male  | 27.0 |   0   |
|     896     |   3    | Hirvonen, Mrs. Alexander (... | female | 22.0 |   1   |
|     897     |   3    |   Svensson, Mr. Johan Cervin  |  male  | 14.0 |   0   |
|     898     |   3    |      Connolly, Miss. Kate     | female | 30.0 |   0   |
|     899     |   2    |  Caldwell, Mr. Albert Francis |  male  | 26.0 |   1   |
|     900     |   3    | Abrahim, Mrs. Joseph (Soph... | female | 18.0 |   0   |
|     901     |   3    |    Davies, Mr. John Samuel    |  male  | 21.0 |   2   |
+-------------+--------+-------------------------------+--------+------+-------+
+-------+-----------+---------+-------+----------+--------+
| Parch |   Ticket  |   Fare  | Cabin | Embarked | SexInt |
+-------+-----------+---------+-------+----------+--------+
|   0   |   330911  |  7.8292 |       |    Q     |   0    |
|   0   |   363272  |   7.0   |       |    S     |   1    |
|   0   |   240276  |  9.6875 |       |    Q     |   0    |
|   0   |   315154  |  8.6625 |       |    S     |   0    |
|   1   |  3101298  | 12.2875 |       |    S     |   1    |
|   0   |    7538   |  9.225  |       |    S     |   0    |
|   0   |   330972  |  7.6292 |       |    Q     |   1    |
|   1   |   248738  |   29.0  |       |    S     |   0    |
|   0   |    2657   |  7.2292 |       |    C     |   1    |
|   0   | A/4 48871 |  24.15  |       |    S     |   0    |
+-------+-----------+---------+-------+----------+--------+
[418 rows x 12 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [11]:
train_train, train_test = train.random_split(0.75, seed=0)

In [12]:
len(train_train)

659

In [13]:
model_logistic = graphlab.logistic_classifier.create(train_train, target='Survived', features=['Age', 'SexInt'])

PROGRESS: Creating a validation set from 5 percent of training data. This may take a while.
          You can set ``validation_set=None`` to disable validation tracking.

PROGRESS: Logistic regression:
PROGRESS: --------------------------------------------------------
PROGRESS: Number of examples          : 626
PROGRESS: Number of classes           : 2
PROGRESS: Number of feature columns   : 2
PROGRESS: Number of unpacked features : 2
PROGRESS: Number of coefficients    : 3
PROGRESS: Starting Newton Method
PROGRESS: --------------------------------------------------------
PROGRESS: +-----------+----------+--------------+-------------------+---------------------+
PROGRESS: | Iteration | Passes   | Elapsed Time | Training-accuracy | Validation-accuracy |
PROGRESS: +-----------+----------+--------------+-------------------+---------------------+
PROGRESS: | 1         | 2        | 1.046698     | 0.806709          | 0.696970            |
PROGRESS: | 2         | 3        | 1.066611     | 0.806709          | 0.696970            |
PROGRESS: | 3         | 4        | 1.072836     | 0.806709          | 0.696970            |
PROGRESS: +-----------+----------+--------------+-------------------+---------------------+
PROGRESS: SUCCESS: Optimal solution found.
PROGRESS:

In [17]:
model_logistic.evaluate(train_test)

{'accuracy': 0.7456896551724138,
 'auc': 0.7308363059849388,
 'confusion_matrix': Columns:
 	target_label	int
 	predicted_label	int
 	count	int

 Rows: 4

 Data:
 +--------------+-----------------+-------+
 | target_label | predicted_label | count |
 +--------------+-----------------+-------+
 |      1       |        0        |   31  |
 |      0       |        1        |   28  |
 |      1       |        1        |   56  |
 |      0       |        0        |  117  |
 +--------------+-----------------+-------+
 [4 rows x 3 columns],
 'f1_score': 0.6549707602339181,
 'log_loss': 0.5738753253916783,
 'precision': 0.6666666666666666,
 'recall': 0.6436781609195402,
 'roc_curve': Columns:
 	threshold	float
 	fpr	float
 	tpr	float
 	p	int
 	n	int

 Rows: 100001

 Data:
 +-----------+-----+-----+----+-----+
 | threshold | fpr | tpr | p  |  n  |
 +-----------+-----+-----+----+-----+
 |    0.0    | 1.0 | 1.0 | 87 | 145 |
 |   1e-05   | 1.0 | 1.0 | 87 | 145 |
 |   2e-05   | 1.0 | 1.0 | 87 | 145 |
 |   3e-05   | 1.0 | 1.0 | 87 | 145 |
 |   4e-05   | 1.0 | 1.0 | 87 | 145 |
 |   5e-05   | 1.0 | 1.0 | 87 | 145 |
 |   6e-05   | 1.0 | 1.0 | 87 | 145 |
 |   7e-05   | 1.0 | 1.0 | 87 | 145 |
 |   8e-05   | 1.0 | 1.0 | 87 | 145 |
 |   9e-05   | 1.0 | 1.0 | 87 | 145 |
 +-----------+-----+-----+----+-----+
 [100001 rows x 5 columns]
 Note: Only the head of the SFrame is printed.
 You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.}

In [19]:
test_pred = model_logistic.predict(test)

In [20]:
submission = graphlab.SFrame({"PassengerId": test['PassengerId'], "Survived": test_pred})

In [21]:
submission.save("kaggle.csv", format='csv')